<!--
  Generated template for the PlacelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>AdminControl</ion-title>
    <ion-buttons end>
      <!--

            <button ion-button icon-only (click)="navigateToAddTestlist()">
        <ion-icon name="add"></ion-icon>
      </button>
      -->
      <button ion-button icon-only [navPush]="AddplacePage">
          <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content  padding class="card-background-page" >
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
 
    <ion-list>
    <ion-card class="adv-map" *ngFor="let item of placeListRef$ | async" (click)="selectPlaceItem(item)">

    <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/pin.png">
    </ion-avatar>
    <h2>{{ item.name }}</h2>
    <p>รายละเอียด(ย่อย) : {{ item.detail }}</p>

    </ion-item>
    </ion-card>
    <ion-card class="adv-map" *ngFor="let item of placeList1Ref$ | async" (click)="selectPlaceItem(item)">

        <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/pin.png">
        </ion-avatar>
        <h2>{{ item.name }}</h2>
        <p>รายละเอียด(ย่อย) : {{ item.detail }}</p>
    
        </ion-item>
        </ion-card>
    </ion-list>

</ion-content>
